streamlit
ultralytics==8.0.198
Pillow
numpy
matplotlib
typing_extensions

# Compatible PyTorch CPU-only builds
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu

--extra-index-url https://download.pytorch.org/whl/cpu
