streamlit
ultralytics==8.0.198
Pillow
numpy
matplotlib
typing_extensions

# Compatible PyTorch CPU-only version
torch==2.5.1+cpu
torchvision==0.16.1+cpu
torchaudio==2.5.1+cpu

--extra-index-url https://download.pytorch.org/whl/cpu
